{% extends '_base.html' %}

{% block body %}
<div class="app-manage">
  <div class="flashcard-list">
    <div class="flashcard flashcard-edit">
      <form>
        <input name="phrase" placeholder="word" value="" />
        <textarea name="definition" placeholder="a single distinct meaningful element of speech or writing, used with others to form a sentence and typically shown with a space on either side when written or printed."></textarea>
        <button type="submit" class="button">Create</button>
      </form>
      <span class="bucket">0</span>
      <span class="failures">&nbsp;</span>
    </div>
    <div class="flashcard flashcard-edit">
      <form>
        <input name="phrase" value="tranquility" />
        <textarea name="definition">the quality or state of being tranquil; calm.</textarea>
        <button type="submit" class="button">Save</button>
      </form>
      {% spaceless %}
      <span class="bucket">7</span>
      <span class="failures">&#10006;&#10006;&#10006;&#10006;</span>
      {% endspaceless %}
    </div>
    <div class="flashcard flashcard-edit">
      <form>
        <input name="phrase" value="nascent" />
        <textarea name="definition">just coming into existence and beginning to display signs of future potential.
</textarea>
        <button type="submit" class="button">Save</button>
      </form>
      {% spaceless %}
      <span class="bucket">9</span>
      <span class="failures">&#10006;&#10006;</span>
      {% endspaceless %}
    </div>
  </div>
</div>
{% endblock %}